<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RESET_PASSWORD</title>

    <p>cher <strong>{{user.username}}</strong>,<br>

Pour réinitialiser votre mot de passe  veuillez cliquer sur lien suivant :<br>
        <a href="{{url_for('reset_password',token=token,_external=True)}}"> Cliquer ICI Pour le RESET PASSWORD</a> <br>

Si vous n'avez pas demandé la réinitialisation merci d'ignorer ce message .<br>

Cordialement<br>

<strong>Oussama(Microblog)</strong>
        </p>

</head>
<body>

</body>
</html>